.button-bar {
  margin-left: 0!important;
  margin-right: 10px!important;
  padding-top: 14px;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

.button-spacing {
  margin-left: 5px;
}

.background {
  background-color: rgb(245, 245, 245);
}